.price {
    padding-top: 60px;
    &__title {
        position: relative;
        text-align: center;
        color: #000;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        padding: 60px 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 368px);
        grid-template-rows: repeat(3, minmax(44px, auto));
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        @include small_circle;
            &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0%;
        }
        &-descr {
            grid-column: 1 / 3;
            font-size: 12px;
            line-height: 18px;
        }
        &-numb {
            justify-self: end;
        }
    }
        
    

}