.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fs14 {
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;

    }
    &_fs16 {
        font-size: 16px;
        line-height: 24px;
        color:white;   
    }

    &_fs20 {
        font-size: 20px;
        line-height: 30px;
    }

    
  
    &_fs36 {
        font-size: 36px;

    }

    &_fs48 {
        font-size: 48px;
        color:white;
    
    }
}

.skills__title, .contact__title, .about__title {
    color:black;
    
}